In [1]:
import pandas as pd
import numpy as np
import numpy.random as rd
from sklearn.model_selection import train_test_split
df=pd.read_csv('heart.csv', index_col=0)
df = pd.DataFrame(df);
print(df.head())
print()

   Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  \
1   63    1       typical     145   233    1        2    150      0      2.3
2   67    1  asymptomatic     160   286    0        2    108      1      1.5
3   67    1  asymptomatic     120   229    0        2    129      1      2.6
4   37    1    nonanginal     130   250    0        0    187      0      3.5
5   41    0    nontypical     130   204    0        2    172      0      1.4

   Slope   Ca        Thal  AHD
1      3  0.0       fixed   No
2      2  3.0      normal  Yes
3      2  2.0  reversable  Yes
4      3  0.0      normal   No
5      1  0.0      normal   No

In [2]:
#Find Shape
print(f'Shape:{df.shape}')

Shape:(303, 14)

In [3]:
#Missing Values
for i in df:
	null=df[i].isna().sum()
	print(f'\nmissing Value in Column {i} :{null}')

missing Value in Column Age :0

missing Value in Column Sex :0

missing Value in Column ChestPain :0

missing Value in Column RestBP :0

missing Value in Column Chol :0

missing Value in Column Fbs :0

missing Value in Column RestECG :0

missing Value in Column MaxHR :0

missing Value in Column ExAng :0

missing Value in Column Oldpeak :0

missing Value in Column Slope :0

missing Value in Column Ca :4

missing Value in Column Thal :2

missing Value in Column AHD :0

In [4]:
#datatype of Column
datatype=df.dtypes
print(f'\nDatatypes of Column:\n{datatype}')

Datatypes of Column:
Age            int64
Sex            int64
ChestPain     object
RestBP         int64
Chol           int64
Fbs            int64
RestECG        int64
MaxHR          int64
ExAng          int64
Oldpeak      float64
Slope          int64
Ca           float64
Thal          object
AHD           object
dtype: object

In [5]:
#number of Zeros in column
col1=df['Fbs'].value_counts()[0]
print(f'Number of zeros in column Fbs is :{col1}')
col2=df['RestECG'].value_counts()[0]
print(f'Number of zeros in column restECG is :{col2}')
col3=df['ExAng'].value_counts()[0]
print(f'Number of zeros in column ExAng is :{col3}')
col4=df['Ca'].value_counts()[0]
print(f'Number of zeros in column Ca is :{col4}')
col5=df['Oldpeak'].value_counts()[0]
print(f'Number of zeros in column oldpeak is :{col5}')
col=df['Slope']
col6=col[col==0].count()
print(f'Number of zeros in column Slope is :{col6}')

Number of zeros in column Fbs is :258
Number of zeros in column restECG is :151
Number of zeros in column ExAng is :204
Number of zeros in column Ca is :176
Number of zeros in column oldpeak is :99
Number of zeros in column Slope is :0

In [6]:
#Mean age of patients
mean=df['Age'].mean()
print(f'Mean of Age:{mean}\n')

Mean of Age:54.43894389438944

In [7]:
#Divide dataset in 75% and 25% randomly
print("\nDataset df \n")
train1=df.sample(frac=0.75)
print(train1.index)
test1=df.drop(train1.index)
print(train1)
print(test1)

Dataset df

Int64Index([172,  66, 269, 171, 179,  89, 289, 165,  73,  72,
            ...
            202,  81, 206, 238, 161,  63,  77, 131, 125,  59],
           dtype='int64', length=227)
     Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  \
172   53    1  asymptomatic     142   226    0        2    111      1
66    60    1  asymptomatic     145   282    0        2    142      1
269   40    1  asymptomatic     152   223    0        0    181      0
171   70    1    nonanginal     160   269    0        0    112      1
179   43    1    nonanginal     130   315    0        0    162      0
..   ...  ...           ...     ...   ...  ...      ...    ...    ...
63    58    1  asymptomatic     128   216    0        2    131      1
77    60    1  asymptomatic     125   258    0        2    141      1
131   54    1    nonanginal     120   258    0        2    147      0
125   65    1       typical     138   282    1        2    174      0
59    54    1    nonanginal     125   273    0        2    152      0

     Oldpeak  Slope   Ca        Thal  AHD
172      0.0      1  0.0  reversable   No
66       2.8      2  2.0  reversable  Yes
269      0.0      1  0.0  reversable  Yes
171      2.9      2  1.0  reversable  Yes
179      1.9      1  1.0      normal   No
..       ...    ...  ...         ...  ...
63       2.2      2  3.0  reversable  Yes
77       2.8      2  1.0  reversable  Yes
131      0.4      2  0.0  reversable   No
125      1.4      2  1.0      normal  Yes
59       0.5      3  1.0      normal   No

[227 rows x 14 columns]
     Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  \
3     67    1  asymptomatic     120   229    0        2    129      1
5     41    0    nontypical     130   204    0        2    172      0
7     62    0  asymptomatic     140   268    0        2    160      0
10    53    1  asymptomatic     140   203    1        2    155      1
19    48    0    nonanginal     130   275    0        0    139      0
..   ...  ...           ...     ...   ...  ...      ...    ...    ...
286   58    1  asymptomatic     114   318    0        1    140      0
291   67    1    nonanginal     152   212    0        2    150      0
297   59    1  asymptomatic     164   176    1        2     90      0
300   68    1  asymptomatic     144   193    1        0    141      0
303   38    1    nonanginal     138   175    0        0    173      0

     Oldpeak  Slope   Ca        Thal  AHD
3        2.6      2  2.0  reversable  Yes
5        1.4      1  0.0      normal   No
7        3.6      3  2.0      normal  Yes
10       3.1      3  0.0  reversable  Yes
19       0.2      1  0.0      normal   No
..       ...    ...  ...         ...  ...
286      4.4      3  3.0       fixed  Yes
291      0.8      2  0.0  reversable  Yes
297      1.0      2  2.0       fixed  Yes
300      3.4      2  2.0  reversable  Yes
303      0.0      1  NaN      normal   No

[76 rows x 14 columns]

In [8]:
#X will contain columns [age,sex,chestpain,restbp,chol]
X=df[['Age','Sex','ChestPain','RestBP','Chol']]
print('X\n',X.head())

X
    Age  Sex     ChestPain  RestBP  Chol
1   63    1       typical     145   233
2   67    1  asymptomatic     160   286
3   67    1  asymptomatic     120   229
4   37    1    nonanginal     130   250
5   41    0    nontypical     130   204

In [9]:
#divide above dataset X randomly 75% and 25%
print("\nDataset X \n")
trainx=X.sample(frac=0.75)
testx=X.drop(trainx.index)
print("--------------- Train dataset of X ----------------------------")
print(trainx)
print("--------------- Test dataset of X ----------------------------")
print(testx)

Dataset X

--------------- Train dataset of X ----------------------------
     Age  Sex     ChestPain  RestBP  Chol
245   60    0    nonanginal     120   178
155   64    1  asymptomatic     120   246
6     56    1    nontypical     120   236
8     57    0  asymptomatic     120   354
49    65    0    nonanginal     140   417
..   ...  ...           ...     ...   ...
79    48    1    nontypical     130   245
237   56    1  asymptomatic     130   283
217   46    0    nontypical     105   204
272   66    1  asymptomatic     160   228
58    41    1  asymptomatic     110   172

[227 rows x 5 columns]
--------------- Test dataset of X ----------------------------
     Age  Sex     ChestPain  RestBP  Chol
1     63    1       typical     145   233
2     67    1  asymptomatic     160   286
3     67    1  asymptomatic     120   229
4     37    1    nonanginal     130   250
14    44    1    nontypical     120   263
..   ...  ...           ...     ...   ...
284   35    1    nontypical     122   192
285   61    1  asymptomatic     148   203
290   56    1    nontypical     120   240
291   67    1    nonanginal     152   212
293   44    1  asymptomatic     120   169

[76 rows x 5 columns]

In [10]:
# dividing training and testing data form dataset y

Y = df[["AHD"]]

trainY=Y.sample(frac=0.75)
testY=Y.drop(trainY.index)
print("--------------- Train dataset of y ----------------------------")
print(trainY)
print("--------------- Test dataset of y ----------------------------")
print(testY)

--------------- Train dataset of y ----------------------------
     AHD
192  Yes
195   No
246  Yes
289   No
165   No
..   ...
123   No
235   No
78    No
42    No
240   No

[227 rows x 1 columns]
--------------- Test dataset of y ----------------------------
     AHD
1     No
2    Yes
6     No
13   Yes
16    No
..   ...
285  Yes
287  Yes
295  Yes
299  Yes
301  Yes

[76 rows x 1 columns]

In [11]:
# Now splitting dataset df into x and y using iloc and using train_test_split to divide dataset randomly
x=df.iloc[:, :-1].values
y=df.iloc[:, -1].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(227, 13)
(227,)
(76, 13)
(76,)

In [12]:
# Replacing Yes with 1 and No with 0
Y = Y.replace(["Yes", "No"], [1, 0])
Y

     AHD
1      0
2      1
3      1
4      0
5      0
..   ...
299    1
300    1
301    1
302    1
303    0

[303 rows x 1 columns]